@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F2F2F5;
}

.leaflet-bottom.leaflet-right {
    display: none; /* Is element ko screen se hata dega */
  }

.shimmer {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.track-order-shine {
  position: relative;
  overflow: hidden;
  background: #6552FF;
}

.track-order-shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: shine-effect 2s infinite linear;
}

@keyframes shine-effect {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

.animate-shine {
  position: relative;
  overflow: hidden;
}

.animate-shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: shine-effect 2s infinite linear;
}

@keyframes shine-text {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}